{% extends 'branches.html' %}
{% load static %}


{% block content %}
<h1 style="font-weight: bold;">CREATE BRANCH</h1>
<form method="POST" style="width: 50%; position: relative; bottom: -3em;">
    {% csrf_token %}
    <input required class="form-control" style="margin-bottom: 10px;" type="number" name="position" placeholder="Position"/>
    <input required class="form-control" style="margin-bottom: 10px;" type="text" name="branch" placeholder="Branch name"/>
    <input required class="form-control" style="margin-bottom: 10px;" type="text" name="directorate" placeholder="Directorate"/>
    <input class="btn btn-primary" type="submit" name="Submit">
</form>    
{% endblock %} 

